<form id="userLoginForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
                    <div class="form-group col-md-6">
                <label for="batchSize">Batch Size</label>
                <input class="form-control" type="text" id="batchSize"
                       name="batchSize" placeholder="Batch Size"
                       value="{{ data.batchSize }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="batchCount">Batch Count</label>
                <input class="form-control" type="text" id="batchCount"
                       name="batchCount" placeholder="Batch Count"
                       value="{{ data.batchCount }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="batchStarted">Batch Started</label>
                <input class="form-control" type="text" id="batchStarted"
                       name="batchStarted" placeholder="Batch Started"
                       value="{{ data.batchStarted }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="id">Id</label>
                <input class="form-control" type="text" id="id"
                       name="id" placeholder="Id"
                       value="{{ data.id }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="userId">User Id</label>
                <input class="form-control" type="text" id="userId"
                       name="userId" placeholder="User Id"
                       value="{{ data.userId }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="dateTime">Date Time</label>
                <input class="form-control" type="text" id="dateTime"
                       name="dateTime" placeholder="Date Time"
                       value="{{ data.dateTime }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="ipAddress">Ip Address</label>
                <input class="form-control" type="text" id="ipAddress"
                       name="ipAddress" placeholder="Ip Address"
                       value="{{ data.ipAddress }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="userAgent">User Agent</label>
                <input class="form-control" type="text" id="userAgent"
                       name="userAgent" placeholder="User Agent"
                       value="{{ data.userAgent }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="sessionId">Session Id</label>
                <input class="form-control" type="text" id="sessionId"
                       name="sessionId" placeholder="Session Id"
                       value="{{ data.sessionId }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="status">Status</label>
                <input class="form-control" type="text" id="status"
                       name="status" placeholder="Status"
                       value="{{ data.status }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="created_at">Created_at</label>
                <input class="form-control" type="text" id="created_at"
                       name="created_at" placeholder="Created_at"
                       value="{{ data.created_at }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="updated_at">Updated_at</label>
                <input class="form-control" type="text" id="updated_at"
                       name="updated_at" placeholder="Updated_at"
                       value="{{ data.updated_at }}">
            </div>
            </div>
    {{"userLoginForm" | formToken | raw }}
</form>
