<form id="serverMonitorForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="serverId">Server</label>
            <select class="form-control" id="serverId" name="serverId" required>
                <option value="">-- select server --</option>
                {% for server in servers %}
                    <option value="{{ server.id }}" {{ data.serverId == server.id ? 'selected' : '' }}>{{ server.serverName }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="monitorTypeId">Monitor Type</label>
            <select class="form-control" id="monitorTypeId" name="monitorTypeId" required>
                <option value="">-- select monitor type --</option>
                {% for monitortype in monitortypes %}
                    <option value="{{ monitortype.id }}" {{ data.monitorTypeId == monitortype.id ? 'selected' : '' }}>{{ monitortype.monitorType }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group col-md-6">
            <label for="domain">Domain</label>
            <input class="form-control" type="text" id="domain" name="domain" placeholder="Domain" value="{{ data.domain }}">
        </div>
        <div class="form-group col-md-6">
            <label for="port">Port</label>
            <input class="form-control" type="text" id="port" name="port" placeholder="Port" value="{{ data.port }}">
        </div>
        <div class="form-group col-md-6">
            <label for="interval">Interval</label>
            <input class="form-control" type="text" id="interval" name="interval" placeholder="Interval in minutes (default 5 min)" value="{{ data.interval }}">
        </div>
        <div class="form-group col-md-6">
            <label for="status">Last Status</label>
            <input class="form-control" type="text" id="status" name="status" placeholder="Status" value="{{ data.status }}" readonly>
        </div>
        <div class="form-group col-md-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="active" name="active" value="1" {% if data.active %}checked{% endif %}>
                <label class="form-check-label" for="active">Active</label>
            </div>
        </div>
    </div>
    {{"serverMonitorForm" | formToken | raw }}
</form>
