<form id="serverForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="tenantId">Workspace</label>
            <select class="form-control" type="text" id="tenantId" name="tenantId" required>
                <option value="">-- select workspace --</option>
                {% for tenant in tenants %}
                    <option value="{{ tenant.id }}" {{ data.tenantId == tenant.id ? 'selected' : '' }}>{{ tenant.tenantName }}</option>
                {% endfor %}    
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="serverName">Server Name</label>
            <input class="form-control" type="text" id="serverName" name="serverName" placeholder="Server Name" value="{{ data.serverName }}" required>
        </div>
        <div class="form-group col-md-6">
            <label for="serverDescription">Server Description</label>
            <input class="form-control" type="text" id="serverDescription" name="serverDescription" placeholder="Server Description" value="{{ data.serverDescription }}">
        </div>
        <div class="form-group col-md-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="active" name="active" value="1" {{ data.active ? 'checked' : '' }}>
                <label class="form-check-label" for="active">Active</label>
            </div>
        </div>
    </div>
    {{"serverForm" | formToken | raw }}
</form>
