{% extends "base.twig" %}
 {% block content %}
    <h3>Dashboard</h3>
    <p>
        <a class="btn btn-primary" onClick="javascript:checkMonitors();">Check All Monitors Now</a>
    </p>

    <p>
        <ul>
            {% for servermonitor in servermonitors.records %}
                <li>
                    {{ servermonitor.serverName }} - {{ servermonitor.monitorType }} | {{ servermonitor.port }} - {{ servermonitor.lastRun }} -

                    {% if servermonitor.lastStatusCode != 200 %}
                        <span style="background-color: red; color: white; padding: 5px;">
                            {{ servermonitor.lastStatusCode }}
                        </span>
                    {% else %}
                        <span style="background-color: green; color: white; padding: 5px;">
                            {{ servermonitor.lastStatusCode }}
                        </span>
                    {% endif %}
                </li>
            {% endfor %} 
        </ul> 
    </p>

{% endblock %}