<form id="logForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
                    <div class="form-group col-md-6">
                <label for="batchSize">Batch Size</label>
                <input class="form-control" type="text" id="batchSize"
                       name="batchSize" placeholder="Batch Size"
                       value="{{ data.batchSize }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="batchCount">Batch Count</label>
                <input class="form-control" type="text" id="batchCount"
                       name="batchCount" placeholder="Batch Count"
                       value="{{ data.batchCount }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="batchStarted">Batch Started</label>
                <input class="form-control" type="text" id="batchStarted"
                       name="batchStarted" placeholder="Batch Started"
                       value="{{ data.batchStarted }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="id">Id</label>
                <input class="form-control" type="text" id="id"
                       name="id" placeholder="Id"
                       value="{{ data.id }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="tenantId">Tenant Id</label>
                <input class="form-control" type="text" id="tenantId"
                       name="tenantId" placeholder="Tenant Id"
                       value="{{ data.tenantId }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="siteId">Site Id</label>
                <input class="form-control" type="text" id="siteId"
                       name="siteId" placeholder="Site Id"
                       value="{{ data.siteId }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="createdAt">Created At</label>
                <input class="form-control" type="text" id="createdAt"
                       name="createdAt" placeholder="Created At"
                       value="{{ data.createdAt }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="monitorType">Monitor Type</label>
                <input class="form-control" type="text" id="monitorType"
                       name="monitorType" placeholder="Monitor Type"
                       value="{{ data.monitorType }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="statusCode">Status Code</label>
                <input class="form-control" type="text" id="statusCode"
                       name="statusCode" placeholder="Status Code"
                       value="{{ data.statusCode }}">
            </div>
                    <div class="form-group col-md-6">
                <label for="rawResult">Raw Result</label>
                <input class="form-control" type="text" id="rawResult"
                       name="rawResult" placeholder="Raw Result"
                       value="{{ data.rawResult }}">
            </div>
            </div>
    {{"logForm" | formToken | raw }}
</form>
